@import url(root.css);

/*======================================
    Constants
======================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a{
    text-decoration: none;
    color: black;
}

.section{
    padding: 4rem 0;
}

.green-bg{
    background-color: var(--green-color) !important;
}

.green-text{
    color: var(--green-color) !important;
}

.dark-bg{
    background-color: var(--dark-color) !important;
}

.dark-text{
    color: var(--dark-color) !important;
}

.radius-50{
    border-radius: 50px;
}

.radius-20{
    border-radius: 20px;
}

.button{
    font-family: var(--family-OS);
    font-size:1.125rem;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 14px 36px 14px 35px;
    border: 4px solid var(--green-color);
}

.button:hover{
    background-color: white !important;
    color: var(--dark-color);
    border: 4px solid white;
}

.white-button{
    border: 4px solid white;
    padding: 15px 46px 16px;
}

.content-header > *{
    font-family: var(--family-M);
    line-height: 1.1!important; /*Important diqqet*/
    text-align: center;
    font-weight: 700;
}

.content-body{
    font-family: var(--family-OS);
    line-height: 2;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header{
    font-size:3.75rem;
}

/*======================================
    Navbar
======================================*/

.navbar .container{
    justify-content: unset;
}

.container .navbar-brand{
    width: 64px;
}

.header-logo{
    width: 100%;
    height: 100%;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon{
    background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler-icon:hover{
    background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.offcanvas{
    width: 250px!important;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
}

.offcanvas-header{
    padding: 0;
}

.offcanvas .btn-close{
    padding: 30px;
    font-size: 21px;
    opacity: 1;
}

.offcanvas .btn-close:focus{
    box-shadow: none;
}

.nav-item{
    height: 2.25rem;
}

.nav-item .nav-link,.navbar-nav .nav-link.active{
    color: white;
    font-size: 1.25rem;
}

.nav-item .nav-link:hover{
    color: #a1a1a1;
}

/*======================================
    Cover Section
======================================*/

.cover-section{
    background-image: url("../../images/cover.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.cover-section h1{
   font-weight: normal;
}

.cover-section .vertical-center > *{
    margin:10px auto;
    font-size: 1.125rem;
    line-height: 2;

}

.freepik{
    font-size: 18px;
    font-family: var(--family-OS);
}

.cover-btn{
    padding: 19px 47px 20px;
}

.cover-btn:hover{
    color: white!important;
    background-color: var(--green-color)!important;
}

/*======================================
    Card Section
======================================*/

.cards .card{
    padding: 30px 23px;
    color: white;
    margin-bottom: 15px;
    border-radius: 20px;
}

.card-section .cards .card .card-icon{
    width: 87px;
    height: 87px;
    margin:0 auto;
}

.card-section .cards .card-icon .icon{
    fill: var(--green-color);
    background-color: white;
    padding: 14px;
}

.cards .card-header{
    border: none;
    background-color:transparent;
    font-family: var(--family-M);
    margin-top: 30px;
}

.card-section .cards .card-header h4{
    font-weight: bold;
    font-size: 1.875rem;
}

.card-section .cards .card-body{
    font-family: var(--family-OS);
    font-size: 1.125rem;
    line-height: 1.8;
}

.card-section .cards .arrow-icon{
    fill: var(--green-color);
    stroke: var(--green-color);
    stroke-width: 17px;
    width: 48px;
    margin: 0 auto;
}

.card-section .cards .card.green-bg .arrow-icon{
    fill: white;
    stroke: white;
}

/*======================================
    Welcome Section
======================================*/

.welcome-section .section-content{
    /* border-left: 30px solid var(--green-color);
    border-right: 30px solid var(--green-color); */
    position: relative;
}

.welcome-section .section-content::before,.welcome-section .section-content::after {
    content: '';
    position: absolute;
    width: 30px;
    height:452px;
    background-color: var(--green-color);
    bottom: 0;
}

.welcome-section .section-content::before {
    left: 0;
}

.welcome-section .section-content::after {
    right: 0;
}

.welcome-section .section-header{
    font-size: 3rem;
}

.welcome-section .content-body p{
    width: 55%;
    font-size: 1.25rem;
    margin: 41px auto;
}

/*======================================
    Benefit Section
======================================*/

.benefit-section .cards .card{
    background-color:white;
    color: var(--dark-color);
    border: none;
    padding-top:0 ;
}

.benefit-section .card-body{
    padding:0;
}

.benefit-section .cards .card p{
    color: #808080 ;
    font-size: 1.125rem;
    line-height: 1.8;
}

.benefit-section .cards > div:nth-child(even) *{
    color: white;
}

.card-num{
    font-size: 3rem;
    font-weight: 700;
}


/*======================================
    Coach Section
======================================*/

.coach-section{
    background-image: linear-gradient(0deg, rgba(36,63,86,0.85), rgba(36,63,86,0.85)), url(../../images/coachBG.jpg);
    background-position: 50% 50%;
}

.coach-section .content-body p{
    font-size: 1.25rem;
    margin: 30px 13%;
}

.coach-section .content-body .d-flex-inline a{
    margin: 0 10px 20px 0;
}

/*======================================
    Program Section
======================================*/

.program-button:hover{
    background-color:var(--dark-color)!important;
    border-color: var(--dark-color)!important;
} 

.program-section .content-header h4{
    line-height: 1.2;
}

.program-section .row .col-md-4:first-child *{
    text-align: start;
}

.program-section .section-header{
    font-size: 1.875rem;
}

.program-section .row .col-md-4:first-child span{
    font-size: 1.5rem;
}

.program-section .row .col-md-4:first-child p{
    font-size: 1.125rem;
    line-height: 1.8;
}

.program-section .row .counter,.program-section .row .counter-percent{
    font-size: 3rem;
}


.program-section .row .col-md-3 p{
    font-size: 1.125rem;
    line-height: 1.8;
}


/*======================================
    Learn Section
======================================*/

.learn-section{
    background-image: linear-gradient(0deg, rgba(36,63,86,0.65), rgba(36,63,86,0.65)), url(../../images/learnSectionBg.jpg);
    background-position: 50% 50%;
    font-family: var(--family-M);
}

.learn-section .row:nth-child(1) p{
    font-size: 1.125rem;
    line-height: 1.8;
    color: #b3b3b3;
}

.learn-section .row:nth-child(2) {
    color: white;
}

.learn-section .row:nth-child(2) h5{
    font-size: 1.875rem;
}

.learn-section .row:nth-child(2) p{
    font-size: 1.125rem;
}

.learn-section .num-box h1{
    font-size: 4.5rem;
    font-weight: 700;
}


/*======================================
    Team Section
======================================*/

.team-section .section-header{
    font-size: 3rem;
}

.team-section .row{
    font-family: var(--family-OS);
    font-weight: 700;
}

.team-section .team-img{
    width: 240px;
    height: 240px;
}

.team-section .row p{
    font-size: 1.125rem;
    line-height: 1.8;
}

.team-section p.team-name{
    font-family: var(--family-M);
    font-size: 1.5rem;
}

.team-section .description{
    font-weight: 300;
}

/*======================================
    Contact Section
======================================*/

.contact-section input{
    padding: 10px 12px;
    margin-bottom: 13px;
}

.contact-section .section-header{
    font-size: 2.25rem;
}

.contact-section .content-body p{
    font-size: 1.5rem;
}

.contact-section .content-body span{
    font-size: 1.125rem;
    line-height: 1.8;
}

.contact-section ul span{
    padding-left: 1.5em;
}

.contact-section ul li{
    font-size: 1.25rem;
    line-height: 2;
}

.contact-section ul li::before{
    content: '✓';
}

.contact-btn{
    background-color: #243f56;
    border: 5px solid #243f56;
    font-weight: 700;
    padding: 9px 43px 11px;
}

.contact-btn:hover{
    background-color: #292e33;
}

/*======================================
    Media Queries
======================================*/

@media (max-width: 991px){
    .cover-section .section-header{
        font-size: 2.625rem;
    }

    .contact-section .content-body p{
        font-size: 1.375rem;
    }
}


@media (max-width: 575px){
    .cover-section .section-header{
        font-size: 2.25rem;
    }

   .welcome-section .content-body p{
        width: 75%;
    }

    .welcome-section .section-header,
    .benefit-section .section-header,
    .coach-section .section-header,
    .learn-section .section-header,
    .team-section .section-header{
        font-size: 1.875rem;
    }

    .contact-section .vertical-center{
        justify-content: start;
    }
}